        <div class='cantainer-fluid'>
          <div class="row">
            <!-- article -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!-- section -->
              <section class='back-ground'>

                <hr />

                <!-- 投稿一覧 -->
                <div class="line-bc">
                  <!-- 右吹き出し -->
                  <div>
                    <div class="clearfix">
                      <div class="float-end">
                        <div style="font-size: 12px; color: #fff">uname</div>
                        <div style="font-size: 12px; color: #fff">uid</div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="balloon2 float-end">こんにちは</div>
                    </div>
                    <div class="clearfix">
                      <div class="float-end">
                        <time style="font-size: 12px">
                          2020-12-19 09:26:35
                        </time>
                      </div>
                    </div>
                  </div>
                  <!-- 右吹き出し -->

                  <!-- 改行 -->
                  <br />

                  <!-- 左吹き出し -->
                  <div>
                    <div style="font-size: 12px; color: #fff">uname</div>
                    <div style="font-size: 12px; color: #fff">uid</div>
                    <div class="clearfix">
                      <div class="balloon1 float-left">
                        <a
                          href="https://chat-line.netlify.app/"
                          target="_blank"
                          rel="noopener noreferrer"
                          >https://chat-line.netlify.app/</a
                        >
                      </div>
                    </div>

                    <div className="clearfix">
                      <time style="font-size: 12px"> 2020-12-19 09:26:35 </time>
                    </div>
                  </div>
                  <br />

                  <!-- 左吹き出し -->
                  <!-- 右吹き出し -->
                  <div>
                    <div class="clearfix">
                      <div class="float-end">
                        <div style="font-size: 12px; color: #fff">uname</div>
                        <div style="font-size: 12px; color: #fff">uid</div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="balloon2 float-end">こんにちは</div>
                    </div>
                    <div class="clearfix">
                      <div class="float-end">
                        <time style="font-size: 12px">
                          2020-12-19 09:26:35
                        </time>
                      </div>
                    </div>
                  </div>
                  <!-- 右吹き出し -->

                </div>
              </section>
              <!-- section -->
            </article>
            <!-- article -->


           </div>
        </div>

<div>
  <%# <%= form_with model: @user_post_message, local: true do |f| %> %>
    <%# <%= f.text_field :content, class: '', id:'', placeholder:'コメント'%> %>
    <%# <%= f.submit '送信', class:'btn btn-light' %> %>
  <%# <% end %> %>
</div>
